<div class="page-geral">
  <app-header title="Categorias" description="Gerencie as categorias das suas transações">
  </app-header>

  <section class="card-principal entrada">
    <div class="card-title">
      <div class="icon">
        <mat-icon fontIcon="home"></mat-icon>
      </div>
      <div>
        <h4>Categorias de Entrada</h4>
        <p>{{ categoriasEntrada.length }} categorias</p>
      </div>
    </div>

    <div class="divisor"></div>

    <div class="cards row w-100 g-3">
      <div *ngFor="let categoria of categoriasEntrada" class="col-lg-4 col-md-6 col-sm-12">
        <div class="card">
          <div class="icon">
            <mat-icon fontIcon="home"></mat-icon>
          </div>
          <p>{{ categoria.denominacao }}</p>
        </div>
      </div>
    </div>
  </section>

  <section class="card-principal saida">
    <div class="card-title">
      <div class="icon">
        <mat-icon fontIcon="home"></mat-icon>
      </div>
      <div>
        <h4>Categorias de Saída</h4>
        <p>{{ categoriasEntrada.length }} categorias</p>
      </div>
    </div>

    <div class="cards row w-100 g-3">
      <div *ngFor="let categoria of categoriasEntrada" class="col-lg-4 col-md-6 col-sm-12">
        <div class="card">
          <div class="icon">
            <mat-icon fontIcon="home"></mat-icon>
          </div>
          <p>{{ categoria.denominacao }}</p>
        </div>
      </div>
    </div>
  </section>
</div>
